@if (isBrowser) {
<div class="m-2 palette-card border-round px-2" [style]="{ 'height': 'fit-content' }">
  <div class="font-bold text-xl m-2 flex align-items-center gap-2 p-2">
    <fa-icon [icon]="faIndustry" class="text-orange-400"></fa-icon>
    <span class="palette-title">Building Palette</span>
  </div>
  <p-divider class="palette-divider"></p-divider>
  <div class="flex flex-column gap-3 mt-3">
    @for (item of items; let last = $last; track item.id) {
    <div 
      class="shadow-3 hover:shadow-5 border-round palette-item-card"
      [ngClass]="{ 'mb-3': last }"
      style="cursor: grab; transition: all 0.2s;"
      draggable="true"
      (dragstart)="onDragStart($event, item.id)">
      <div class="flex align-items-center justify-content-between p-2">
        <fa-icon [icon]="item.icon" class="palette-item-icon text-2xl"></fa-icon>
        <span class="palette-item-name font-semibold text-lg">{{ item.name }}</span>
      </div>
    </div>
    }
  </div>
</div>
} @else {
  <div class="p-3">
    <div class="text-100 font-bold mb-2">Buildings</div>
    <div class="flex flex-column gap-2">
      @for (item of items; track item.id) {
      <button type="button" class="p-button-outlined flex align-items-center gap-2" draggable="true"
        (dragstart)="onDragStart($event, item.id)">
        <fa-icon [icon]="item.icon"></fa-icon>
        <span>{{ item.name }}</span>
        <span class="ml-auto">{{ item.id }}</span>
      </button>
      }
    </div>
  </div>
}