/* PrimeNG + PrimeFlex + PrimeIcons */
@import "primeflex/themes/primeone-dark.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

html, body, app-root, app-root > * {
  height: 100%;
  background-color: var(--p-surface-900);
  color: var(--p-text-color);
}
