/* PrimeNG + PrimeFlex + PrimeIcons */
@import "primeflex/themes/primeone-dark.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  background-color: #fa9549;
}

body {
  color: var(--p-text-color);
}

app-root, app-root > * {
  height: 100%;
}